*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main-container{
    background-color:whitesmoke ;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
}
    form>h1{
        padding-top: .5em;
        text-align: center;
        color: black;
        font-size:2.5rem ;
    }
   
      .ingresar{
        padding-top: 0;
        padding-bottom: 1em;
        margin-top: 2em;
        width: 30%;
        margin-bottom:3.5em;
        padding-left: 2em;
         
      }
      form>label{
          font-size:1.6rem;
          margin-top: .6em;
          
      }
      input{
          width: 100%;
          border-radius: .5em;
          border: 1px solid #318fb5;
          padding: 1em;
          margin-bottom: 1em;
      }
      input:focus{
        border-radius: .5em;
        border: 3px solid #318fb5;
      }
      .btn-ingresar{
        margin-top: 1.5em;
        border-radius: .5em;
        flex: 1 1 auto;
        width: 100%;
        border: .1em solid #318fb5;
     
      }

        .btn-ingresar:hover{
        color:white;
        background-color:#318fb5 ;
        margin-top: 1.5em;
        border-radius: .5em;
  
      }
      form a{
          margin-top: 1.5em;
          font-size: 1rem;
        text-decoration:none;
        display: inline-block;
        color: #411f1f;
      }
      
      form a:hover{
          color:black;
      }
    footer{
        background-color: #222831;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        padding-top: 1.5em;
    }

    .mostrar{
        flex: 2 1 auto;
        height: 100%;
        width: 100%;
    }
      
    table{
        margin-top: 1.6em;
        margin-left: 3em;
        border-collapse: collapse;

    }
    table, h2{
        padding-top: .5em;
        text-align: center;
    }
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
